<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.HtTrickConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Winutils\College\קורסים\שנה ב'\פיתוח תוכנה\פרויקט\mta-hattrick\mta-hattrick\GeneralTester\HtTrick.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>